@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.success-message {
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-container {
  margin-bottom: 20px;
}

.success-message img {
  width: 80px;
  height: 80px;
}

.success-message h1 {
  font-size: 28px;
  margin: 0;
}

.success-message p {
  font-size: 18px;
  margin: 10px 0 20px;
}

.success-message a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: opacity 0.3s;
}

.success-message a:hover {
  opacity: 0.8;
}
